# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Virtual environment
kshetram/
venv/
env/

# Django
db.sqlite3
*.sqlite3
*.log
*.pot
*.pyc
*.mo

# Django migrations
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py

# Static/media (if generated)
staticfiles/
static/
media/

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Others
*.swp
*.swo